
.button-send {
    -fx-background-image: url("../resources/send-button.png");
    -fx-background-color: transparent;
    -fx-opacity: 0.3;
}

.button-send:hover {
    -fx-background-image: url("../resources/send-button-focus.png");
    -fx-background-color: transparent;
    -fx-opacity: 1;
}

.button-back {
    -fx-background-image: url("../resources/back-button.png");
    -fx-background-color: transparent;
    -fx-opacity: 0.3;
}

.button-back:hover {
    -fx-background-image: url("../resources/back-button-focus.png");
    -fx-background-color: transparent;
    -fx-opacity: 1;
}

.text-field-chat-message {
    -fx-text-fill: #fafafa;
    -fx-font-size: 12px;
    -fx-font-family: Tahoma;
    -fx-highlight-text-fill: #fafafa;
    -fx-prompt-text-fill: #6e939e;
    -fx-highlight-fill: #009287;
}

.label-chat-message {
    -fx-text-fill: #fafafa;
    -fx-font-size: 12px;
    -fx-font-family: Tahoma;
}

.label-date {
    -fx-text-fill: #6e939e;
    -fx-font-size: 12px;
    -fx-font-family: Tahoma;
}

.list-view-chat {
    -fx-background-color: #18191d;
}

.list-view-chat .list-cell {
    -fx-background-color: #18191d;
}

.list-view-chat .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-view-chat .scroll-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-view-chat .scroll-bar:vertical .thumb {
    -fx-background-color: #3d444b;
    -fx-background-radius: 5em;
}

.list-view-chat .increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.text-area-message {
    -fx-background-color: #33393f;
    -fx-highlight-fill: #009287;
    -fx-text-fill: #fafafa;
    -fx-highlight-text-fill: #fafafa;
    -fx-font-size: 13px;
    -fx-font-family: Tahoma;
}

.text-area-message .content {
    -fx-background-color: #33393f;
    -fx-border-color: #33393f;
}

.text-area-message .scroll-pane {
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
}

.text-area-send {
    -fx-background-color: #282e33;
    -fx-highlight-fill: #009287;
    -fx-highlight-text-fill: #fafafa;
    -fx-prompt-text-fill: #6e939e;
    -fx-text-fill: #fafafa;
    -fx-font-size: 13px;
    -fx-font-family: Tahoma;
}

.text-area-send .content {
    -fx-background-color: #282e33;
    -fx-border-color: #282e33;
    -fx-border-width: 3;
}

.text-area-send .scroll-pane {
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
}

